{% extends "layout.html" %}

{% block title %}
    Add to Pantry
{% endblock %}

{% block main %}
<p1><b>Add</b> an item to your pantry!</p1>
<br>
<br>
    <form action="/addtopantry" method="post">
        <div class="form-group">
            <select class="form-control" name="type" type="text">
                <option value="beverages">Beverages</option>
                <option value="dairy">Dairy</option>
                <option value="deli">Deli</option>
                <option value="dry-goods">Dry Goods</option>
                <option value="fruits">Fruits</option>
                <option value="meat">Meat</option>
                <option value="packaged-food">Packaged Food</option>
                <option value="spices">Spices</option>
                <option value="vegetables">Vegetables</option>
            </select>
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="item" placeholder="Item (e.g. Milk)" type="text">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="amount" placeholder="Quantity (e.g. 3)" type="number" min="0" step="any">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="units" placeholder="Unit (e.g. L)" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Add Item to Pantry</button>
    </form>
<br>
<p1><b>Edit</b> an existing item from your pantry!</p1>
<br>
<br>
    <form action="/updatepantry" method="get">
        <div class="form-group">
        <button class="btn btn-primary" id="editbutton" value="pressed" type="submit">Edit Requirement</button>
        </div>
    </form>
{% endblock %}